<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712113185961-ttb2s3b2506lrifhd686ok0logdvbs16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712113185961-ttb2s3b2506lrifhd686ok0logdvbs16</string>
	<key>API_KEY</key>
	<string>AIzaSyDMx7WgT-HTm868kFPlW4athxhqaBFwUZM</string>
	<key>GCM_SENDER_ID</key>
	<string>712113185961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ifide</string>
	<key>PROJECT_ID</key>
	<string>ifide-22341</string>
	<key>STORAGE_BUCKET</key>
	<string>ifide-22341.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712113185961:ios:495193812e1f16c361b5b8</string>
</dict>
</plist>